In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df=pd.read_csv("Datasets/ProdAgri.csv")

In [8]:
df=df.drop(df.columns[0],axis=1)

In [9]:
df.head()

,Occurrence,Filière,Produit,Indicateur,Valeur
0,2010,Cheptel_Bovins,Bovins_Femelles,Effectif (1000 Tête),2174.0
1,2010,Cheptel_Bovins,Bovins_Males,Effectif (1000 Tête),614.0
2,2010,Cheptel_Caprins,Caprins_Femelles,Effectif (1000 Tête),4030.0
3,2010,Cheptel_Caprins,Caprins_Males,Effectif (1000 Tête),1254.0
4,2010,Cheptel_Ovins,Ovins_Femelles,Effectif (1000 Tête),12651.0