In [40]:
import numpy as np
import pandas as pd

df1=pd.read_csv("Datasets/ProdBetail.csv")
df2=pd.read_csv("Datasets/ProdVegetale.csv")

In [41]:
df1.shape,df2.shape

((77, 5), (14690, 5))

In [42]:
df2['Occurrence']=df2['Occurrence'].str.slice(0,4)

In [43]:
df2.rename(columns={'  Valeur ': ' Valeur '}, inplace=True)

In [44]:
df=pd.concat([df1,df2])
df.head()

,Occurrence,Filière,Produit,Indicateur,Valeur
0,2010,Cheptel_Bovins,Bovins_Femelles,Effectif (1000 Tête),"2,174"
1,2010,Cheptel_Bovins,Bovins_Males,Effectif (1000 Tête),614
2,2010,Cheptel_Caprins,Caprins_Femelles,Effectif (1000 Tête),"4,030"
3,2010,Cheptel_Caprins,Caprins_Males,Effectif (1000 Tête),"1,254"
4,2010,Cheptel_Ovins,Ovins_Femelles,Effectif (1000 Tête),"12,651"

In [45]:
df.shape

(14767, 5)

In [46]:
df.dtypes

Occurrence    object
Filière       object
Produit       object
Indicateur    object
 Valeur       object
dtype: object

In [47]:
df[' Valeur ']=df[' Valeur '].str.replace('[^\d]','',regex=True)
df[' Valeur ']=pd.to_numeric(df[' Valeur '])

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\ayman\AppData\Local\Temp\ipykernel_2344\2840513805.py:1: SyntaxWarning: invalid escape sequence '\d'
  df[' Valeur ']=df[' Valeur '].str.replace('[^\d]','',regex=True)

In [48]:
df['Occurrence']=pd.to_numeric(df['Occurrence'])

In [49]:
df.isna().sum()

Occurrence     0
Filière        0
Produit        0
Indicateur     0
 Valeur       14
dtype: int64

In [50]:
print(df[df.isna().any(axis=1)])

      Occurrence        Filière            Produit             Indicateur  \
114         2010     Maraîchage            Asperge  Production-T (Tonnes)
115         2010     Maraîchage            Asperge        Superficie (Ha)
326         2011     Maraîchage            Asperge  Production-T (Tonnes)
327         2011     Maraîchage            Asperge        Superficie (Ha)
538         2012     Maraîchage            Asperge  Production-T (Tonnes)
539         2012     Maraîchage            Asperge        Superficie (Ha)
1376        2016  Industrielles           Cannabis  Production-T (Tonnes)
1390        2016  Industrielles    Sorgho a balais  Production-T (Tonnes)
1391        2016  Industrielles    Sorgho a balais        Superficie (Ha)
1627        2017     Maraîchage            Asperge  Production-T (Tonnes)
2047        2019  Industrielles          Cornichon  Production-T (Tonnes)
2048        2019  Industrielles          Cornichon        Superficie (Ha)
2051        2019  Industrielles  Piment de Cayenne  Production-T (Tonnes)
2052        2019  Industrielles  Piment de Cayenne        Superficie (Ha)

       Valeur
114        NaN
115        NaN
326        NaN
327        NaN
538        NaN
539        NaN
1376       NaN
1390       NaN
1391       NaN
1627       NaN
2047       NaN
2048       NaN
2051       NaN
2052       NaN

In [51]:
df=df.fillna(0)

In [52]:
df.duplicated().sum()

1251

In [53]:
df=df.drop_duplicates()

In [54]:
df.to_csv("Datasets/ProdAgri.csv")